version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: techshop_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: techshop_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: techshop_phpmyadmin
    restart: always
    ports:
      - "8083:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql

  web:
    image: gaurious/techshop:latest
    container_name: techshop_web
    ports:
      - "8090:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
